desktop/
auto-save-list/
ac-comphist.dat
ac-dict/
semanticdb/
srecode-map.el
ede-projects.el
session.*
tramp
games/
recentf
request/
ido.last
.emacs_workgroups~

#ignore cask
.cask/

# ignore emacs generated cookie file
url/cookies

# ignore compiled lisp files and backups
*.elc
*.el~

# ignore everything managed by el-get
el-get/
# ignore elpa packages
elpa/
# ignore trello org file
trello/

# ignore bookmarks
bookmarks

# org mode relate ignores
.org-id-locations
*org-clock-save.el

# projectile related ignores
projectile-bookmarks.eld
projectile.cache

# irony mode server
irony/

# ignore some backups
%backup%~